body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Eagle Lake', cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  background-image: url("/public/image/header3.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
 
}